<div class="row">
  <div class="span10 offset3" id="new_password_container">
    <h2>Reenviar instrucciones de confirmación</h2>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, wrapper: :inline) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email %>

      <%= f.button :submit, 'Reenviar instrucciones', class: 'primary' %>
    <% end %>

    <%= render partial: 'devise/shared/links' %>
  </div>
</div>